.dashboardContainer {
  display: flex;
  /* justify-content: space-evenly; */
}

.currentUserProfileContainer {
  display: flex;
  /* margin-right: 275px;
  margin-top: 20px;
  margin-left: 20px; */
}

.currentUserClimbs {
  display: flex;
  /* justify-content: center; */
}

.solutionMainContainer {
  display: flex;
  flex-direction: row;
}

.climbDetailsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
