.dashboardContainer {
  display: flex;
}

.climbListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.currentUserProfileContainer {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.currentUserClimbs {
  display: flex;
  /* justify-content: center; */
}

.solutionMainContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.climbDetailsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.newClimbFormContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
