.userProfile {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}

.userProfileImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

.userProfileInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userProfileInfo > p {
  margin-bottom: 8px;
}
