.profileImg {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.editDeleteContainer {
  display: flex;
  justify-content: flex-end;
}

.editComment {
  margin-right: 10px;
}

.editComment:hover {
  cursor: pointer;
  color: blue;
}

.deleteComment:hover {
  cursor: pointer;
  color: blue;
}

.userProfileComment {
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
}
